<html>
    <head>
        <script src="https://kit.fontawesome.com/9c8fb83eb2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2 class="bolded-blue">Take a quick break!</h2>
        <div>
            <h2 id='directions'>
                <span>
                    Here is a random fact: <i>{{funFact}}</i>
                </span>
            </h2>
        </div>
        <div>
            <h2 id='directions'>
                <span>
                    You can read more about these and other random facts at the end of this experiment.
                </span>
            </h2>
        </div>
        <div id="article-next-button">
            <div id="btn-next-page"></div>
        </div>
        <script>
        </script>
    </body>
</html>